<!DOCTYPE html>
<html lang="en" ng-app='FoodHung'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular App</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="./js/app.js"></script>

</head>
<body ng-controller="resturantApp">
    <h1>Find Your Resturant Types</h1>
    <input ng-model="inputText" name="text" type="text"/>

    <button ng-click="submit()">Find your Resturant</button>
    <button ng-click="clearAll()">Clear Search Data</button>
    <hr>

    <div >
    <ul>
        <li ng-repeat="place in places">
            <p>{{data.resturant}}</p>
            <p>{{resturant.location}}</p>
        </li>
    </ul>    
    
    </div>
    


</body>
</html>