body {
    margin : 0;
    padding : 0; 
    
} 

#footer {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: 10px
}

#mainContent {
    margin: 10 0 10 0;

} 

#repeatData  {
    
} 