<!DOCTYPE html>
<html lang="en" ng-app='authPage'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resturant App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../js/firebase.js"></script>
</head>
<style >
@import url('https://fonts.googleapis.com/css?family=Merriweather');
body {
    padding: 0;
    margin: 0;
    
}
#content{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#loginContent {
    padding: 5px;
    height: max-content;
    width: 350px;
    border: 2px solid navy;
    border-radius : 10px; 

}
.loginCreatBtn{
    float: right;
}
.contentHeading{
    font-family: 'Merriweather', serif;
}
.allcontent{
    padding-left : 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
nav {
    font-family: 'Merriweather', serif;
} 

</style>
<body ng-controller='authInfo'>
    <div id ='content'>
            <div id='loginContent'>
                    <div>
                            <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Login</a>
                                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
                                      
                                    </div>
                            </nav>
                            <div class="tab-content allcontent" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <br>
                                        <h5 class="contentHeading">Welcome Back !!</h5>
                                        <br>
                                        <label for="emal">Email : </label>
                                        <input ng-model="emailText" class='form-control' type="email" name="emailInput" id="emailText">
                                        <small id="emailError"></small>
                                        <br>
                                        <label for="password">Password : </label>
                                        <input ng-model="passText" class='form-control' type="password" name="passInput" id="passText">
                                        <small id="passError"></small>
                                        <br>
                                        <button ng-click="auth($event)" class ="btn btn-primary loginCreatBtn" id='loginBut'>Login</button>
                                    </div>
                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                            <br>
                                            <h5 class="contentHeading" >Get Ready for Fun !!!</h5>
                                            <br>
                                            <label for="firstName">First Name : </label>
                                            <input ng-model="firstNameText" type="firstName" class='form-control' name="firstName" id="firstName">
                                            
                                            <label for="LastName">Last Name : </label>
                                            <input ng-model="lastNameText" type="LastName" class='form-control' name="lastName" id="lastName">
                                            
                                            <br>
                                            <label for="emal">Email :</label>
                                            <input ng-model="newEmail" type="email" class='form-control' name="emailInput" id="newEmailText">
                                            
                                            <label for="password">Password :</label>
                                            <input ng-model="newPass" type="password" class='form-control' name="passInput" id="newPassText">
                                            <br>
                                            <br>
                                            <button ng-click="newUser($event)" class="btn btn-primary loginCreatBtn" id='newUserbtn'>Create Me</button>
                                    </div>
                                    
                            </div>
                    </div>
                        
            
                </div>
    </div>
    


</body>
<script src="../js/auth.js" type="text/javaScript"></script>
</html>